* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-131921: #131921;
  --color-3b4149: #3b4149;
  --color-febd69: #febd69;
  --color-232f3e: #232f3e;
  --color-bf4800: #bf4800;
  --color-f5f5f7: #f5f5f7;
  --color-ededed: #ededed;
  --color-777777: #777777;
  --color-bf4800: #bf4800;
  --color-1c1c1b: #1c1c1b;
  /* --color-spee: #181818; */
}

body {
  font-family: 'Rubik', sans-serif;
}

.css-79elbk {
  bottom: 20px;
}

.alert {
  background-color: #f44336;
  color: white;
  padding: 10px;
  margin-top: 10px;
  border-radius: 5px;
}

a {
  display: inline-block;
  text-decoration: none;
}

#price {
  font-size: 16px;
  text-overflow: ellipsis;
  color: #1c1c1b;
  margin-bottom: 10px;
}

.section-heading {
  font-size: 26px;
  line-height: 32px;
  /* font-weight: 500; */
  font-weight: bold;
  margin-bottom: 30px;
}

.form-control:focus {
  box-shadow: none;
  border-color: none;
}

.gap-2 {
  gap: 2px;
}

.gap-10 {
  gap: 10px;
}


.gap-15 {
  gap: 15px;
}

.gap-30 {
  gap: 30px;
}

.gr-12 {
  width: 100%;
}

.gr-6 {
  width: 50%;
}

.gr-4 {
  width: 20%;
}

.gr-f4 {
  width: 32.6%;
}

.gr-f3 {
  width: 19.3%;
}

.gr-3 {
  width: 24.2%;
}

.input-group-text {
  cursor: pointer;
}

.not-found {
  height: 100vh;
  font-size: 21px;
  text-align: center;
}

.not-found h1,
a {
  margin: 0;
}

.header-link {
  font-weight: bold;
}
.header-bottom .dropdown button {
  text-transform: capitalize !important;
}
.header-link:hover {
  color: #a0e4fd !important;
}

.button {
  background-color: var(--color-232f3e);
  color: white;
  font-weight: 500;
  font-size: 14px;
  padding: 15px 33px;
  border-radius: 25px;
  transition: 0.2s;
}

.button:hover {
  background-color: var(--color-febd69);
  color: var(--color-131921);
  box-shadow: 0 3px 5px var(--color-131921);
}

.button:active {
  background-color: var(--color-ededed);
  color: var(--color-131921);
  box-shadow: 0 3px 5px var(--color-131921);
}

.card-wrapper {
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 10px #333;
}

/* Header Part */

header {
  /* background: linear-gradient(-180deg, #f53d2d, #f63); */
  background-color: var(--color-131921);
  transition: transform .2s cubic-bezier(.4, 0, .2, 1);
}

/* .header-top-strip {} */

.header-top-strip h5 {
  color: var(--color-ededed) !important;
}

.header-upper {
  border-top: 1px solid #fffdfd;
  /* background: #f63; */
  background-color: var(--color-131921);
  transition: transform .2s cubic-bezier(.4, 0, .2, 1);
}

.header-upper .input-group-text {
  background-color: var(--color-febd69);
}

.header-upper .input-group-text:hover {
  background-color: #eb1834;
}

.header-upper-links img {
  height: 35px;
  width: 35px;
}

.header-upper-links .dropdown {
  left: -12px
}

.header-upper-links .show {
  inset: 10px auto auto -25px !important;
}

.header-upper-links .dropdown-menu {
  background-color: #FFF;
  padding: 0px 2px;
  transform: translate3d(9px, 25px, 0px) !important;
}

.header-upper-links .dropdown-item {
  width: 100%;
  padding: 7px;
  font-weight: 500;
  color: #000 !important;
  margin-top: 3px auto;
}

.header-upper-links .dropdown-item .icon-item {
  height: 100%;
  margin-bottom: 5px;
  font-size: 19px;
  color: #19A7CE;
}

.header-upper-links .dropdown-item:hover .icon-item {
  height: 100%;
  color: #000;
  font-size: 20px;
}

.header-upper-links .dropdown-item:hover {
  background-color: #EEF1FF;
  color: #19A7CE !important;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.header-btn {
  background-color: #FFF;
  border: none;
  color: #000;
}

.header-upper-links .dropdown ul li a {
  color: #000;
}

.header-bottom {
  /* background: #f63; */
  background: linear-gradient(-180deg, #f53d2d, #f63);

  transition: transform .2s cubic-bezier(.4, 0, .2, 1);
}

.header-bottom .menu-links a,
.header-bottom .dropdown button {
  color: white;
  font-size: 14px;
  line-height: 10px;
  font-weight: 400;
  letter-spacing: 0.3;
  text-transform: uppercase;
}

.header-bottom .dropdown button:focus {
  box-shadow: none;
}

.header-bottom .dropdown-menu {
  /* background-color: var(--color-131921); */
  width: 100%;
  transform: translate3d(9px, 25px, 0px) !important;
}

.header-bottom .dropdown-item {
  padding: 5px 10px;
}

.header-bottom .dropdown-item:hover {
  background-color: transparent;
  color: var(--color-febd69) !important;
}

/* Header Part End Here*/

/* Home wrapper 1 */
.main-banner-content {
  top: 40%;
  left: 15%;
}

.main-banner-content h4 {
  font-size: 16px;
  line-height: 24px;
  color: #FF523b;
  /* color: var(--color-bf4800); */
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.main-banner-content h5 {
  font-size: 42px;
  font-weight: 500;
  line-height: 54px;
  letter-spacing: -2px;
  text-transform: none;
}

.main-banner-content p {
  font-size: 18px;
  line-height: 28px;
  letter-spacing: .4px;
  color: var(--color-131921);
}

.small-banner-content {
  top: 20%;
  left: 10%;
}

.small-banner-content h4 {
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  color: var(--color-bf4800);
  margin: 0 0 12px;
  letter-spacing: 0.3px;
  text-transform: uppercase;
}

.small-banner-content h5 {
  font-size: 22px;
  font-weight: 500;
  line-height: 34px;
  letter-spacing: -1px;
  text-transform: none;
}

.small-banner-content p {
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.4;
  color: var(--color-131921);
}

.small-banner {
  width: 49%;
}

/* Home wrapper 1 Part End Here */
/* Home wrapper 2 */
.home-wrapper-2 {
  background-color: var(--color-f5f5f7);
}

/* Home wrapper 2 end */
/* Home wrapper 3 */
.home-wrapper-3 .categories {
  background-color: white;
  padding: 15px;
  box-shadow: 0 0 10px #333;
}

.home-wrapper-3 .categories>div {
  width: 25%;
  padding: 10px;
}

.home-wrapper-3 .categories>div>div {
  width: 50%;
}

.home-wrapper-3 .categories>div:nth-child(1),
.home-wrapper-3 .categories>div:nth-child(2),
.home-wrapper-3 .categories>div:nth-child(3),
.home-wrapper-3 .categories>div:nth-child(n+4) {
  border-bottom: 1px solid var(--color-ededed);
}

.home-wrapper-3 .categories>div:nth-child(1),
.home-wrapper-3 .categories>div:nth-child(2),
.home-wrapper-3 .categories>div:nth-child(n+3) {
  border-right: 1px solid var(--color-ededed);
}

.home-wrapper-3 .categories>div:nth-child(5),
.home-wrapper-3 .categories>div:nth-child(6),
.home-wrapper-3 .categories>div:nth-child(n+7) {
  border-right: 1px solid var(--color-ededed);
}

/* Home wrapper 3  end*/

/* Blog card */
.blog-card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.blog-card img {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.blog-content {
  padding: 10px 16px;
}

.blog-content .date {
  font-size: 13px;
  line-height: 24px;
  text-transform: uppercase;
  letter-spacing: 0;
  font-weight: 400;
  color: var(--color-777777);
  padding: 0;
}

.blog-content h5 {
  font-size: 18px;
  color: var(--color-131921);
}

.blog-content .des {
  font-size: 13px;
  line-height: 22px;
  margin-bottom: 10px;
  color: var(--color-777777);
}

/* Blog card end*/

/* Product Card */
.product-card {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  width: 100%;
  margin-bottom: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.product-card .product-image {
  width: 100%;
  height: 200px;
  overflow: hidden;
  border-radius: 10px;
}

.product-card .product-image img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.product-card .discount {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 5px 10px;
  background-color: #eb1834;
  color: #fff;
  border-radius: 5px;
}

.product-card .product-title {
  font-size: 15px;
  color: #131921;
  margin-bottom: 5px;
  overflow: hidden;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.product-card .price {
  font-size: 16px;
  color: #1c1c1b;
  margin-bottom: 10px;
}

.product-card .original-price {
  text-decoration: line-through;
  margin-left: 5px;
}

.product-card .react_start {
  margin-bottom: 10px;
}

.product-card .add-to-cart {
  display: block;
  margin-top: 10px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #eb1834;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
}

.content_product_detail {
  overflow: auto;
  height: 500px;
}

.content_detail {
  overflow: hidden;
  height: 100rem;
}

.content_detail code {
  white-space: pre-wrap;
}

.content_detail .ql-align-center {
  display: flex;
  justify-content: center;
  align-items: center;
}


.product-card .add-to-cart:hover {
  background-color: #c70016;
}

.banner-ourstore {
  background: linear-gradient(135deg, #c70016, rgb(255, 50, 108));
  background-size: 200% 200%;
  padding: 20px;
  text-align: center;
  animation: gradientAnimation_background 10s ease infinite;
}

.banner-ourstore .img-banner-left {
  position: absolute;
  top: -30px;
  left: -20px;
  animation: textAnimation 1s ease infinite;
}
.banner-ourstore .img-banner-right {
  position: absolute;
  top: -30px;
  right: -20px;
  animation: textAnimation 10s ease infinite;
}

.banner-ourstore h2 {
  font-size: 24px;
  color: #fff;
  margin: 0;
  padding: 0;
  animation: textAnimation 2s ease-in-out infinite;
}

.banner-ourstore h5 {
  color: #fff;
  animation: textAnimation 2s ease-in-out infinite;
}

@keyframes gradientAnimation {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

@keyframes textAnimation {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }

  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes textAnimation {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.2);
  }

  100% {
    transform: scale(1);
  }
}

@keyframes gradientAnimation_background {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}


.newproduct-color {
  margin-top: 5px;
  width: 100%;
  border: 1px solid #00ff00;
}

.newproduct-color li {
  list-style: none !important;
  width: 100%;
  margin: 10px 0;
  height: auto;
}


.action-bar {
  top: 15%;
  right: -23px;
  transition: 0.3s;
}

.wishlist-icon {
  top: 1%;
  right: 20px;
}

.product-card:hover .action-bar {
  right: 20px;
  /* transform: rotate(1turn); */
}

.product-card .action-bar a {
  color: #bf4800;
}

.product-card .description {
  font-size: 13px;
  color: var(--color-777777);
  max-width: 500px;
}

/* Product Card End*/
/* Special Products */

.special-product-card {
  padding: 20px 10px;
  border-radius: 10px;
  background-color: white;
}

.special-product-card img {
  width: 100%;
  height: 250px;
  object-fit: contain;
}

.special-product-card .title {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.special-product-card .discount-till p {
  font-size: 14px;
  margin-right: 5px;
}

.special-product-card .discount-till .circle-day {
  height: 40px;
  width: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}

.special-product-content {
  width: 40%;
}

.special-product-content .title {
  text-overflow: ellipsis;
  overflow: hidden;
}

.special-product-content .btn-special {
  position: absolute;
  bottom: 0;
  right: 10%;
  width: 200px;
  background-color: #eb1834;
  padding: 15px 10px;
  margin-bottom: 3%;
  color: #fff;
}

.special-product-content .btn-special:hover {
  background-color: #c70016;
}


/* Special Products End*/
/* 
  Random
*/
.random-card {
  border-radius: 10px;
  position: relative;
  width: 100%;
  /* Tỷ lệ khung hình 16:9 */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, transparent 60%, rgba(233, 145, 190, 0.8));
}

.random-card img {
  height: 250px;
  border-radius: 10px;
}

.random-card h4 {
  font-size: 2rem;
  color: #e40808 !important;
}

.random-card h5 {
  color: #3b1ff7;
  font-size: 1.3rem;
  text-overflow: ellipsis;
}

.random-card p {
  font-size: 2rem;
  margin-top: 10px;
  text-overflow: ellipsis;
}




/* end random */
/* famous start */
.famous-card {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 30px;
}

.famous-card:hover .famous-content {
  top: 2%;
  transition: 0.4s;
}

.famous-card:hover .famous-content>strong {
  display: none;
}

.famous-card .famous-content {
  top: -29%;
  left: 4.2%;
  /* max-width: 50%; */
  background-color: red;
  border-radius: 10px;
  padding: 5px 10px;
  color: white;
}

.famous-card img {
  border-radius: 10px;
}

.famous-content h5 {
  font-size: 13px;
  color: rgb(255, 255, 28);
  line-height: 20px;
  /* color: white; */
  font-weight: 500;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.famous-content h6 {
  font-size: 21px;
  line-height: 20px;
  font-weight: 500;
  /* color: white; */
}

.famous-content p {
  font-size: 16px;
  line-height: 20px;
  font-weight: 100;
  color: var(--color-f5f5f7);
}

/* famous END */

/* Our store */
.filter-card {
  background-color: white;
  border-radius: 10px;
  padding: 15px 20px;
}

.filter-title {
  font-size: 16px;
  line-height: 20px;
  font-weight: 600;
  color: var(--color-1c1c1b);
}

.filter-card .form-check-label {
  color: var(--color-777777);
}

.filter-card ul {
  list-style-type: none;
  font-size: 13px;
  line-height: 30px;
  cursor: pointer;
}

.filter-card .form-check-input:checked {
  background-color: var(--color-febd69);
  border-color: var(--color-febd69);
}

.filter-card .form-check-input:focus {
  box-shadow: none;
  border-color: rgba(0, 0, 0, 0.25);
}

.filter-card ul a {
  font-size: 15px;
  color: var(--color-777777);
}

.filter-card ul a:hover {
  /* color: var(--color-febd69); */
  color: #ea25af;
}

.sub-title {
  font-size: 14px;
  font-weight: 600;
  color: var(--color-1c1c1b);
  margin-top: 15px;
  margin-bottom: 10px;
}

.filter-card .filter-mx {
  margin: 0 -24px;
}

.colors {
  display: flex;
  list-style-type: none;
  padding: 0;
  flex-wrap: wrap;
  gap: 10px;
}

.colors li {
  height: 20px;
  width: 20px;
  /* background-color: red; */
  border-radius: 50%;
  margin: 10px 0;
  border: 1px solid #000;
  cursor: pointer;
}

.random-products h5 {
  font-size: 14px;
  margin-bottom: 8px;
  margin-top: 10px;
}

.random-products:nth-child(n+1) {
  border-bottom: 1px solid var(--color-777777);
  margin-bottom: 10px;
}

.filter-sort-gird {
  padding: 10px;
  background-color: white;
  border-radius: 10px;
}

.filter-sort-gird .title-sort {
  width: 100px;
  height: 100%;
}

.gird img {
  height: 35px;
  width: 35px;
  background-color: #bcbcbc;
  border-radius: 3px;
  cursor: pointer;
  padding: 8px;
}

.gird img:hover {
  background-color: var(--color-febd69);
}

/* Our store end*/
.contact-wrapper .content-wrapper {
  padding: 30px 20px;
  border-radius: 10px;
  background-color: white;
}

.contact-wrapper .content-wrapper>div {
  width: 48%;
}

.contact-wrapper .content-wrapper .contact-title {
  font-size: 26px;
  font-weight: 500;
  line-height: 35px;
  text-align: left;
}

.contact-wrapper .content-wrapper form .form-control {
  background-color: var(--color-f5f5f7);
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--color-131921);
}

.contact-wrapper .content-wrapper .button {
  border-radius: 0;
}

.contact-wrapper .content-wrapper ul li {
  list-style-type: none;
}

.contact-wrapper .content-wrapper address,
.contact-wrapper .content-wrapper a,
.contact-wrapper .content-wrapper p {
  color: var(--color-777777);
}

/* Contact */

/* Compare Product */

.compare-product-card {
  padding: 20px 15px;
  background-color: white;
  border-radius: 10px;
}

.compare-product-card .product-card-image img {
  margin: auto;
  display: block;
}

.compare-product-card .cross,
.wishlist-card .cross {
  top: 10px;
  right: 10px;
  width: 20px;
  cursor: pointer;
}

.compare-product-card .product-card-detail h5.title,
.wishlist-card h5.title {
  font-size: 15px;
  line-height: 21px;
}

.compare-product-card .product-card-detail p.des {
  font-size: 13px;
}

.compare-product-card .product-card-detail h6.price,
.wishlist-card h6.price {
  font-size: 15px;
  line-height: 21px;
  font-weight: 400;
}

.compare-product-card .product-detail p {
  margin: 0 !important;
}

.compare-product-card .product-detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 2px solid var(--color-bf4800);
}

.compare-product-card .product-detail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
  border-top: 1 solid var(--color-bf4800);
}

.compare-product-card .product-detail h5 {
  font-size: 15px;
  margin: 0;
}

/* Compare Product End */
/* Wishlist */
.wishlist-card {
  padding: 10px 15px;
  background-color: white;
  border-radius: 10px;
}

/* Wishlist End */
/* Login */
.auth-card {
  padding: 20px;
  background-color: #222222;
  max-width: 500px;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(16, 16, 16, 0.4);
}

.auth-card h3 {
  font-size: 31px;
  font-weight: 500;
  color: white;
  margin-bottom: 0.5rem;
}

.auth-card p {
  color: #F9ED69;
  margin-bottom: 0.5rem;
}

.auth-card .form-control {
  height: 50px;
  color: #000;
  font-size: 15px;
  border-radius: 5px;
  border: none;
  background-color: #EEF1FF;
  /* text-transform: capitalize; */
}

.auth-card input::placeholder {
  color: var(--color-3b4149);
}

.auth-card a {
  font-size: 15px;
  color: #F9ED69;
  font-weight: 500;
}

.auth-card .btn-forgot a {
  margin-top: 10px;
  padding: 10px 20px;
  color: #FFF;
}

.auth-card .btn-forgot a:hover {
  background-color: #333;
  /* color: #000; */
  border-radius: 5px;
}

.auth-card a:nth-child(2) {
  color: #FFF;
}

.auth-card a:nth-child(2):hover {
  color: #19A7CE;
}

.auth-card a:hover {
  font-size: 15px;
  color: #19A7CE;
  transition: .2s;
}

.auth-card .text-error {
  color: #FFED00;
  font-weight: 400;
  margin-left: 3px;
  font-size: 14px;
}

.btn-login {
  border: none;
  margin-top: 15px;
  border-radius: 5px;
  background-color: var(--color-febd69);
  color: #000;
  font-size: 1rem;
}

.btn-login:hover {
  color: #FFF;
  box-shadow: none;
}


/* Login End*/

/* Contact END */
/* Footer Part */
footer {

  background-color: var(--color-232f3e);
}

footer:not(:first-child) {
  border-top: 1px solid var(--color-3b4149);
}

footer .input-group-text {
  background-color: var(--color-232f3e);
  color: white;
  padding: 8px 17px;
}

/* Footer Part End Here*/


/* BACKEND */

/* product */
.collapse-horizontal-product1 {
  margin-top: -40px;
  left: -450px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
}

.cancel {
  top: 0;
  right: 0%;
}

.cancel-edit {
  top: -20%;
  right: 0%;
}

.cancel a {
  background-color: #e96875;
}

.cancel a:hover {
  background-color: #e61f32;
}

.alert1 {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  padding: 1rem;
  margin-bottom: 1rem;
  border: 1px solid transparent;
  border-radius: 0.25rem;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.alert-success1 {
  color: #155724;
  background-color: #d4edda;
  border-color: #c3e6cb;
}

.alert-error1 {
  color: #e93737;
  background-color: #f8d7da;
  border-color: #f5c6cb;
}

.alert-success1:not(:last-child) {
  margin-bottom: 0;
}

.alert-dismissible .close {
  position: absolute;
  top: 5px;
  right: 10px;
  padding: 0;
  line-height: 1;
  color: inherit;
}

.alert1.show1 {
  opacity: 1;
}

@keyframes fadeout {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.ql-editor {
  min-height: 100px;
}

.link-edit {
  border-bottom: 1px solid #e40808;
  font-weight: 600;
  text-decoration: none;
  padding: 3px 5px;
}

.link-edit:hover {
  opacity: 0.7;
  color: #000;
}

.btn-edit {
  color: #FFF;
  font-weight: 500;
  font-size: 20px;
}

.my-toast {
  background-color: #dc3545;
  border-color: #dc3545;
  color: #feffe4;
}

.custom-cell {
  height: 200px;
  /* // Thay đổi giá trị này để tăng chiều cao của cột */
}

.modal-qrcode {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.css-kma3qh {
  height: 400px;
}

/* CSS */
.dialog-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;
  background-color: #f5f5f5;
}

.product-name {
  font-weight: bold;
  width: 100%;
  text-align: center;
  border-bottom: 1px solid #000;
  font-size: 1.6rem !important;
  color: #1620e6;
  text-transform: uppercase;
}

.product-info {
  font-size: 1.6rem !important;
  padding: 10px 0;
  width: 100%;
  color: red;
  border-bottom: 1px solid #000;
}

.product-title {
  height: 10px;
}

.product-detail {
  /* overflow: hidden; */
  text-align: justify;
  font-size: 1rem;
  line-height: 1.5;
  height: 150px;
  margin-bottom: 10px;
}

.product-image {
  width: 100%;
  height: auto;
  margin-top: 1rem;
  padding: 1rem;
  background-color: white;
  /* border: 2px solid #eb1329; */
  border-radius: 10px;
}

.css-1t1j96h-MuiPaper-root-MuiDialog-paper {
  max-width: none !important;
}

/* product end */

/* cart */
/* Cart */
.cart-container {
  padding: 2rem 4rem;
}

.cart-container h2 {
  font-weight: 400;
  font-size: 30px;
  text-align: center;
}

.cart-container .titles {
  margin: 2rem 0 1rem 0;
}

.cart-container .titles h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}

.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}

.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}

.cart-container .titles .product-title {
  padding-left: 0.5rem;
}

.product-summary {
  font-size: .8rem;
  max-width: 100%;
  overflow: hidden;
  color: var(--color-3b4149);
}

.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}

.cart-item .cart-product {
  display: flex;
}

.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}

.cart-item .cart-product h3 {
  font-weight: 400;
}

.cart-item .cart-product button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: gray;
}

.cart-item .cart-product button:hover {
  color: #eb1834;
}

.cart-item .cart-product-quantity {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
}

.cart-item .cart-product-quantity button {
  border: none;
  outline: none;
  background: none;
  padding: 0.7rem 1.5rem;
  cursor: pointer;
}

.cart-item .cart-product-quantity .count {
  padding: 0.7rem 0;
}

.cart-item .cart-product-total-price {
  padding-right: 0.5rem;
  justify-self: right;
  font-weight: 700;
}

/* cart summary */
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}

.cart-summary .clear-btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid rgb(177, 177, 177);
  color: gray;
  background: none;
  outline: none;
  cursor: pointer;
}

.cart-checkout {
  width: 270px;
  max-width: 100%;
}

.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  font-size: 20px;
}

.cart-checkout .amount {
  font-weight: 700;
}

.cart-checkout p {
  font-size: 14px;
  font-weight: 200;
  margin: 0.5rem 0;
}

.cart-checkout .cart-checkout {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  background-color: #000;
  color: #f9f9f9;
  border: none;
  outline: none;
  cursor: pointer;
  line-height: 40px;
  text-align: center;
}

.cart-checkout .cart-checkout:hover {
  transition: .3s;
  background-color: #f63;
}

.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}

.continue-shopping a,
.start-shopping a {
  color: gray;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.continue-shopping a span,
.start-shopping a span {
  margin-left: 0.5rem;
}

.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Responsive */

@media (max-width: 665px) {

  /* Cart */
  .cart-container {
    padding: 2rem;
  }

  .cart-container .titles {
    display: none;
  }

  .cart-item,
  .cart-container .titles {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }

  .cart-item .cart-product-total-price {
    justify-self: left;
  }

  .cart-summary {
    flex-direction: column;
  }

  .cart-summary .clear-btn {
    margin-bottom: 2rem;
  }
}

/* end cart */
.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: -30px !important;
  left: 90% !important;
}

.dropdown-submenu:hover .dropdown-menu {
  display: block;
}

.dropdown-item {
  color: white;
}

.dropdown-item:hover {
  background-color: #ffffff20;
  color: white;
}

.discount-special {
  right: 0;
  top: 0;
  background-color: #eb1834;
  color: #FFF;
  border-bottom-left-radius: 10px;
  padding: 0 10px;
}

.special-right {
  position: relative;
  left: 0;
  top: -25px;
  width: 70px;
  font-weight: bold;
  text-overflow: ellipsis;
  font-size: 17px;
  background-color: #eb18a1;
  color: #FFF;
  /* border-top-left-radius: 20px; */
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  /* border-bottom-right-radius: 10px; */
  padding: 0 10px;
  text-align: center;
  animation: blink 1s infinite alternate;
}


@keyframes blink {
  from {
    /* opacity: 0.5; */
    color: #FFF;
    /* Thay đổi màu chữ khi bắt đầu animation */
    background-color: #ff7f50;
    /* Thay đổi màu nền khi bắt đầu animation */
  }

  to {
    /* opacity: 1; */
    color: #FFF;
    /* Thay đổi màu chữ khi kết thúc animation */
    background-color: #eb18a1;
    /* Thay đổi màu nền khi kết thúc animation */
  }
}

.view_more {
  margin-top: 20px;
  color: #F79327;
  text-transform: capitalize;
}

/* css product detail */
.single-product .col-2 img {
  padding: 0;
}

.single-product .col-2 {
  padding: 20px;

}

.single-product select {
  display: block;
  border: 1px solid #FF523b;
  margin-bottom: 10px;
}

.single-product h4 {
  margin: 20px 0;
  font-size: 22px;
  font-weight: bold;
}

.single-product input {
  width: 60px;
  height: 40px;
  padding-left: 10px;
  font-size: 20px;
  border: 1px solid #FF523b;
}

.single-product input:focus {
  outline: none;
}

.single-product .fa {
  color: #FF523b;
  margin-left: 10px;
}

.single-product .btn-product-detail {
  margin-left: 20px;
}

.single-product .small-img-row {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.single-product #parentImg {
  /* border: 1px solid #FF523b; */
  border-radius: 10px;
  background-color: #dfd1d1;
  width: 100%;
  /* Kích thước tuyệt đối của hình ảnh cha */
  height: 400px;
  /* Đảm bảo tỷ lệ khung hình được giữ nguyên */
  object-fit: contain;
  /* Hiển thị toàn bộ hình ảnh trong khung */
  padding: 10px;
}

.single-product .small-img-col {
  flex-basis: 25%;
  border: 1px solid #FF523b;
  margin-bottom: 20px;
  border-radius: 10px;
}

.single-product .small-img-col img {
  width: 100%;
  background-color: #dfd1d1;
  border-radius: 10px;

  /* Kích thước hình ảnh nhỏ để điền đầy cột */
  height: auto;
  /* Đảm bảo tỷ lệ khung hình được giữ nguyên */
}

.single-product h3 {
  margin-top: 20px;
}

.single-product .price {
  font-size: 23px;
  font-weight: bold;
}

/* endcss product detail */
/* slide  */
.slider {
  width: 600px;
  height: 400px;
  overflow: hidden;
  position: relative;
}

.slide {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: transform 0.5s ease-in-out;
}

/* CSS cho hiệu ứng chuyển động */
.slide.active {
  transform: translateX(0%);
}

.slide img {
  transition: 1s;
}

/* CSS cho nút điều hướng */
.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.navigation button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 18px;
  margin: 0 5px;
}

.slide-container {
  border-radius: 10px;
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 28%;
  /* Tỷ lệ khung hình 16:9 */
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  background: radial-gradient(circle, transparent 60%, rgba(233, 145, 145, 0.8));
}

.slide-container img {
  border-radius: 10px;
}

.slide-container #btn-slide1 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  /* margin: 0 10px; */
  z-index: 10;
}

.slide-container #btn-slide2 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(0, -50%);
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  /* margin: 0 10px; */
  z-index: 10;
}

.slide-container button:hover {
  background-color: #0056b3;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.slide img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 100%;
  /* display: none; */
  object-fit: cover;
  /* Hiển thị ảnh cắt bớt hoặc phóng to để vừa khớp với kích thước */
}

.slide-item.active {
  /* display: block; */
}

/* end slide  */

/* Cart */
.cart-remove:hover {
  color: #eb1834;
}

.item-cart {
  border: 5px;
  /* background-color: #1c1d1d; */
}

/* end cart */